<apex:page renderAs="pdf"
           standardcontroller="SFDC_520_Quote__c"> 
<body> 
           <apex:stylesheet value="{!URLFOR($Resource.pdfresources, 'styles.css')}"/>
              
           <apex:image value="{!$Resource.AVLogo}"/>
           
                   
           
           <p style="text-align:center; font-size: 150%; line-height: .50;">AVENTION DATA SOLUTIONS ORDER SCHEDULE</p>
           <p style="text-align: right; font-size: 100%"> Contract No: <apex:outputtext value=" {!SFDC_520_Quote__c.Contract_Number__c}" /></p> 
           <p style="text-align: left; line-height: .05; font-size: 90%"> <b>Customer Name:</b> <apex:outputtext value=" {!SFDC_520_Quote__c.Opportunity_Account_Name__c}" /></p> 
           <p style="text-align: left; line-height: .05; font-size: 90%"> <b>Customer No:</b> <apex:outputtext value=" {!SFDC_520_Quote__c.Opportunity_Account_PMD_Id__c}" /></p> 
           <p style="text-align: left; line-height: .50; font-size: 90%"> <b>Customer Subscribes to the following Avention On-line Service(s):</b></p> 

            <apex:dataTable value="{!SFDC_520_Quote__c.QuoteLineItem__r}" var="Product" cellpadding="4" border="1">
            <apex:column headervalue="Product Code" value="{!Product.Product_Code__c}"/>
            <apex:column headervalue="Company Service" width="770" value="{!Product.Product2__r.Name}"/>
            </apex:dataTable>
            
            
            <p style="text-align: left; line-height: .50; font-size: 90%"> <b>Customer Contact Responsible for Administering Avention On-line Service:</b></p> 
            <table border = "1" width="717" cellspacing="0">
            <tr>
                <td width="10%">Name:</td>
                <td width="45%"><apex:outputField value="{!SFDC_520_Quote__c.System_Administrator__r.name}"/></td>
                <td width="10%">Phone:</td>
                <td width="50%"><apex:outputField value="{!SFDC_520_Quote__c.System_Administrator_Phone__c}" /></td>
            </tr>
            <tr>
                <td width="10%">Address:</td>
                <td width="45%"><apex:outputField value="{!SFDC_520_Quote__c.Full_System_Admin_Address__c}"/></td>
                <td width="10%">Email:</td>
                <td width="50%"><apex:outputField value="{!SFDC_520_Quote__c.System_Administrator_Email__c}" /></td>
            </tr>
            </table>
            
            
            <p style="text-align: left; line-height: .50; font-size: 90%"> <b>Billing Information:</b></p> 

            <table border = "1" width="718" cellspacing="0">
            
            <tr>
                <td width="100"><b>PO Required:</b></td>
                <td width="100"><apex:outputField value="{!SFDC_520_Quote__c.PO_Required__c}"/></td>
            </tr>
           
            <tr>
                <td width="100"><b>Purchase Order #:</b></td>
                <td width="100"><apex:outputField value="{!SFDC_520_Quote__c.PO_Number__c}"/></td>
            </tr>
           
             <tr>
                <td width="100"><b>Payment Method:</b></td>
               <td width="200"><apex:outputField value="{!SFDC_520_Quote__c.Payment_Method__c}"/></td>
           </tr>
           <tr>
                <td width="100"><b>Refresh Invoicing:</b></td>
               <td width="200"><apex:outputField value="{!SFDC_520_Quote__c.Refresh_Invoicing__c}"/></td>
           </tr>
            </table>
            
            <table border = "1" width="718" cellspacing="0">
            <tr>
                <td width="100" valign = "top"><b>SERVICE FEES*:</b><br><br>
                <b><apex:outputField value="{!SFDC_520_Quote__c.Service_Fees_Criteria__c}"/></b><br>
                
                
                <i>*Note: Fees exclude applicable taxes </i>
                
                </td>
                <td width="160" valign = "top"><b>SPECIAL INSTRUCTIONS:</b><br>
                <apex:outputField value="{!SFDC_520_Quote__c.MA_Special_Instructions__c}"/></td>
                
                
                
            </tr>
            <p style="text-align: left; font-size: 80%"> <apex:outputtext value=" {!SFDC_520_Quote__c.MSA_DSA_Text__c}" /></p> 

            
            <p style="text-align: left; line-height: .50; font-size: 90%"> <b><u>By signing this Order 
            Schedule, Customer has read and agrees to the terms and conditions below.</u></b></p> 

            <table border = "0" cellspacing="0">
            <tr>
                <td width=630><u><apex:outputtext value="{!SFDC_520_Quote__c.Opportunity_Account_Name__c}"/></u></td>
                <td width=470><u><apex:outputtext value="{!SFDC_520_Quote__c.Company_Name_Calc__c}"/></u></td>
            </tr>
            </table>

            <p style="text-align: left; line-height: .75; font-size: 90%;">Signature:&nbsp;&nbsp;_________________________________&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;Signature:&nbsp;&nbsp;___________________________________</p> 
            <p style="text-align: left; line-height: .75; font-size: 90%"> Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________________________</p> 
            <p style="text-align: left; line-height: .75; font-size: 90%"> Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________________________</p> 
            <p style="text-align: left; line-height: .75; font-size: 90%"> Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_________________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___________________________________</p> 
            
            <p style="text-align: left; line-height: .01; font-size: 100%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><u>Billing Address</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Return To Address</u></b></p> 
            <table border = "1" cellspacing="0">
            <tr>
                <td width="100">Attention:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Bill_To_Contact__r.Name}"/></td>
                <td width="100">Attention:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Return_To_Contact__r.Name}" /></td>
            </tr>
            <tr>
                <td width="100">Email:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Bill_To_Contact_Email__c}"/></td>
                <td width="100">Email:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Return_To_Contact_Email__c}" /></td>
            </tr>
            <tr>
                <td width="100">Phone:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Bill_To_Contact_Phone__c}"/></td>
                <td width="100">Phone:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Return_To_Contact_Phone__c}" /></td>
            </tr>
            <tr>
                <td width="100">Address:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Full_Bill_To_Address__c}"/></td>
                <td width="100">Address:</td>
                <td width="250"><apex:outputField value="{!SFDC_520_Quote__c.Full_Return_To_Address__c}" /></td>
            </tr>
            </table>
             <p style="text-align: left; font-size: 80%; line-height: .25;">Generated By: <apex:outputtext value=" {!SFDC_520_Quote__c.Opportunity_Owner__c}" /><apex:outputtext value=" {!SFDC_520_Quote__c.Oppty_Owner_Title_Calc__c}" /></p> 
             <p style="text-align: left; font-size: 80%; line-height: .25; page-break-after: always">Contact Info: <apex:outputtext value=" {!SFDC_520_Quote__c.Oppty_Owner_Email__c}" /><apex:outputtext value=" {!SFDC_520_Quote__c.Oppty_Owner_Phone_Calc__c}" /></p> 

               <p style="text-align:center; font-size: 150%; line-height: 1.0;">EXHIBIT A <br>
               BUSINESS BROWSER EXTRACT SERVICES</p>     
               
               <p style="text-align: left; font-size: 100%; line-height: 1.0; text-indent: 30pt;">WHEREAS, Avention will 
               provide Customer with Business Browser Extract Services (COS) that conform to the Statement 
               of Work set forth below.</p>     
            
            <p style="text-align: left; font-size: 100%; line-height: 1.0; text-indent: 30pt;">NOW, 
            THEREFORE, the following sets forth the Professional Services Terms. </p>
            
            <p style="text-align: left; font-size: 100%; line-height: 1.0;"><b><u>Match and Append Services:</u></b></p>
            
            <p style="text-align: left; font-size: 100%; line-height: 1.0;">Upon complete signing of this Order Schedule, the parties shall execute as follows:</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 1) Avention will provide Business Browser Match & Append services to Customer.  The Services will correspond with data from the Avention "Global Business Browser Company Universe".</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 2) Avention will perform KeyID matching on company records sent to Avention by Customer in not more than one (1) file, which must be sent to Avention in a Compliant File. "Compliant File" means a set of records in a tab delimited ASCII format with the following data fields identified and displayed in each record (regardless of whether Customer has provided Avention with the specific data element, subject to its availability) in this order: unique identifier, company name, address1, address2, City, district/state, postal code, country, telephone number, and standard identifier (i.e., ticker, UK registration number).  Matching will be comprised of Avention assigning KeyID numbers and matching codes from the "Global Business Browser Company Universe".  To conduct KeyID matching, Avention will employ proprietary matching algorithm designed to match Avention company information to client provided companies.</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 3) To the extent that values for the data fields exist (see Exhibit B for list of company data fields available in extract service) in "Global Business Browser Company Universe", Avention will append company information based on Customers subscription type and companies with matched KeyID numbers resulting from KeyID matching.</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 4) Delivered information ("Deliverable") will be provided in a tab delimited ASCII format in two files, one containing Company information and the other consisting of Contacts.</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 5) As long as refresh service have been defined within the Order Schedule under "Company Service" Avention will provide customer with a "Refresh Deliverable" of companies. The "Refresh" service will be an update of company information based on the list of Avention companies originally provided to customer in the initial service.</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 6) Any new Business Browser Match & Append Services requests beyond that stated in this Order Schedule will be subject to a new Order Schedule, which may include additional fees.</p> 

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 7) KeyID Numbers provided to Customer are copyrighted and proprietary to Avention.</p> 

<p style="text-align: left; font-size: 100%; line-height: 1.0;"><b><u>Delivery and Acceptance:</u></b></p>
            
            
<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5">1)  1)  Avention will use commercially reasonable efforts to deliver the services to Customer within seven business days of receipt of a usable client submitted file for matching and signed Order Schedule.</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 2) Avention’s performance under this Order Schedule will be deemed accepted upon Customer’s receipt of the "Business Browser Match & Append Services".</p>

<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5"> 3) The "Deliverable" described under in the "Business Browser Match & Append Services" will be delivered to Customer electronically via email or FTP or some other mutually agreed to method.</p>


<p style="text-align:center; font-size: 150%; line-height: 1.0;page-break-before: always">EXHIBIT B<br>
               DESCRIPTION OF DATA APPEND <br> AND EXTRACT FIELDS</p>
               
<p style="text-align: left; font-size: 100%; line-height: 1.25; margin-left:"5">The following lists the available 
company data fields available for Business Browser Match & Append and Business Browser Extract services.  Customers may choose to supplement Contact Information.</p>
<br>
<table border="1" width="717" cellspacing="0">
<tr>
    <td width="150"><b>Company Field</b></td>
    <td width="300"><b>Description</b></td>
    <td width="117"><b>Data Type</b></td>
    <td width="150"><b>Maximum Length</b></td>
</tr>
<tr>
    <td>KeyID</td>
    <td>OS Unique Company Identifier</td>
    <td>int</td>
    <td>NULL</td>
</tr>

<tr>
    <td>CompanyName</td>    
    <td>Company Name</td>   
    <td>varchar</td>    
    <td>300</td>
</tr>

<tr>
    <td>Address1</td>   
    <td>Address1</td>   
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>Address2</td>   
    <td>Address2</td>   
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>Address3</td>   
    <td>Address2</td>   
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>City</td>   
    <td>City</td>   
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>StateOrProvinceAbbrev</td>  
    <td>State Abbreviation (ie. MA, TX, WI)</td>    
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>PostalCode</td> 
    <td>Zip Code</td>   
    <td>varchar</td>    
    <td>50</td>
</tr>

<tr>
    <td>County</td> 
    <td>County</td> 
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>CountryName</td>    
    <td>Country Name</td>   
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>CountryISO2</td>    
    <td>Country International standard code</td>    
    <td>varchar</td>    
    <td>2</td>
</tr>

<tr>
    <td>Phone</td>  
    <td>Phone number for company</td>   
    <td>varchar</td>    
    <td>50</td>
</tr>

<tr>
    <td>Fax</td>    
    <td>Fax number for company</td> 
    <td>varchar</td>    
    <td>50</td>
</tr>

<tr>
    <td>PrimaryURL</td> 
    <td>Web Address for company</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>OwnershipType</td>  
    <td>Type of Company overship (private, public ..etc)</td>   
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>EntityType</td> 
    <td>Type of Company entity (Parent, subsidiary .. etc)</td> 
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>Employees</td>  
    <td>Number of Employees</td>    
    <td>int</td>    
    <td>NULL</td>
</tr>

<tr>
    <td>BusinessDescription</td>    
    <td>Extended text discription of the company</td>   
    <td>varchar</td>    
    <td>-1</td>
</tr>

<tr>
    <td>ParentKeyID</td>    
    <td>ParentKeyID</td>    
    <td>int</td>    
    <td>NULL</td>
</tr>

<tr>
    <td>ParentName</td> 
    <td>ParentName</td> 
    <td>varchar</td>    
    <td>300</td>
</tr>

<tr>
    <td>UltimateParentKeyID</td>    
    <td>UltimateParentKeyID</td>    
    <td>int</td>    
    <td>NULL</td>
</tr>

<tr>
    <td>UltimateParentName</td> 
    <td>UltimateParentName</td> 
    <td>varchar</td>    
    <td>300</td>
</tr>

<tr>
    <td>IndustryGroupName</td>  
    <td>Avention Industry Group Name</td>  
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>IndustrySectorName</td> 
    <td>Avention Industry Sector Name</td> 
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>OS2010IndustryName</td> 
    <td>Avention 2010 Industry Name</td> 
    <td>varchar</td>    
    <td>300</td>
</tr>

<tr>
    <td>PrimaryNaic</td>    
    <td>Primary NAIC Code</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PNaicDesc</td>  
    <td>Primary NAIC Code/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>PrimaryUKSic</td>   
    <td>PrimaryUKSic</td>   
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PUkSDesc</td>   
    <td>Primary UK 03 Sic/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>PrimarySic</td> 
    <td>Primary US 87 SIC</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PSicDesc</td>   
    <td>Primary US 87 SIC/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>
<tr>
    <td>PrimaryANZSIC</td> 
    <td>Primary ANZSIC</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PrimaryANZSICDesc</td>   
    <td>Primary ANZSIC/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>PrimaryUK2007Sic</td> 
    <td>Primary UK 2007 Sic</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PrimaryUK2007SICDesc</td>   
    <td>Primary UK 2007 Sic/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>PrimaryISICRev4</td> 
    <td>Primary ISIC Rev4</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PrimaryISICRev4Desc</td>   
    <td>Primary ISIC Rev4/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>PrimaryNACERev2</td> 
    <td>Primary NACE Rev2</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PrimaryNACERev2Desc</td>   
    <td>Primary NACE Rev2/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>PrimaryNAICS2012</td> 
    <td>Primary NAICS 2012</td>  
    <td>varchar</td>    
    <td>6</td>
</tr>

<tr>
    <td>PrimaryNAICS2012Desc</td>   
    <td>Primary NAICS 2012/Label</td>    
    <td>varchar</td>    
    <td>200</td>
</tr>

<tr>
    <td>CurrencyISO3</td>   
    <td>Report ISO 3 Currency Code</td> 
    <td>varchar</td>    
    <td>3</td>
</tr>

<tr>
    <td>CurrencyName</td>   
    <td>Reporting Currency</td> 
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>SalesUSD</td>   
    <td>Sales USD (in Millions)</td>    
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>SalesGBP</td>   
    <td>Sales GBP (in Millions)</td>    
    <td>real</td>
    <td>NULL</td>
</tr>

<tr>
    <td>SalesEUR</td>   
    <td>Sales EUR (in Millions)</td>    
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>Sales</td>  
    <td>Sales in Reported Currency (in Millions)</td>   
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>AssetsUSD</td>  
    <td>Assets USD (in Millions)</td>   
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>AssetsGBP</td>  
    <td>Assets GBP (in Millions)</td>   
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>AssetsEUR</td>  
    <td>Assets EUR (in Millions)</td>   
    <td>real</td>   <td>NULL</td>
</tr>

<tr>
    <td>Assets</td> 
    <td>Assets Annual Report Currency (in Millions)</td>    
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>TickerExchange</td> 
    <td>Ticker Exchange</td>    
    <td>varchar</td>    
    <td>100</td>
</tr>

<tr>
    <td>TickerSymbol</td>   
    <td>Ticker Symbol</td>  
    <td>varchar</td>    
    <td>30</td>
</tr>
<tr>
    <td>ABINumber</td>  
    <td>IUSA unique Company ID</td> 
    <td>real</td>   
    <td>NULL</td>
</tr>

<tr>
    <td>RegNo</td>  
    <td>UK Registration Number</td> 
    <td>varchar</td>   
    <td>15</td>
</tr>
</table>
    
</body>
</apex:page>