<apex:page standardController="Opportunity" recordSetVar="opportunities"
tabStyle="Opportunity"
sidebar="false">
<apex:form >
    <apex:pageBlock >
        <apex:pageMessages />
        <apex:pageBlock >
        <apex:panelGrid columns="2">
            <apex:outputLabel value="View:"/>
            <apex:selectList value="{!filterId}" size="1">
                <apex:actionSupport event="onchange" rerender="opp_table"/>
                <apex:selectOptions value="{!listviewoptions}"/>
            </apex:selectList>
        </apex:panelGrid>
        </apex:pageBlock>
    <apex:pageBlockButtons >
    <apex:commandButton value="Save" action="{!save}"/>
    </apex:pageBlockButtons>
    <apex:pageBlockTable value="{!opportunities}" var="opp" id="opp_table">
    <apex:column headerValue="Manager's Feel">
                    <apex:inputField value="{!opp.Manager_Feel__c}"/>
                </apex:column>

                <apex:column value="{!opp.StageName}"/>
                <apex:column headerValue="Close Date">
                    <apex:inputField value="{!opp.closeDate}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header" ><b>Name</b></apex:facet>
                    <apex:outputLink value="/{!opp.id}">{!opp.name}</apex:outputLink>
                </apex:column>
                <apex:column value="{!opp.Account.Name}"/>
                <apex:column value="{!opp.Amount}"/>    </apex:pageBlockTable>
    </apex:pageBlock>
    </apex:form>
</apex:page>